<img src="iteso_horizontal.png">

<h1><center>DEPARTAMENTO DE MATEMÁTICAS Y FÍSICA</center></h1>

<h1><center>Tarea 2 : Indices de Similitud</center></h1>

<h1> Nombre: </h1>
<hr>

Habiendo hecho un estudio preliminar de la calidad de los datos. Normalmente conviene definir el tipo de dato de cada variable. La clasificación de los datos, normalmente se hace en las siguientes categorías: Variables Binarias o de doble estado, variables cualitativas o multiestado, variables cuantitativas y variables genéticas.
En clase se realizó un resumen de las medidas de similitud más usadas en el análisis de datos. Enseguida se muestran dos tablas de medidas o índices de similitud, que han sido propuestas para cada tipo de dato. 

<div class="alert alert-danger" style="margin: 10px"><strong>NOTA IMPORTANTE!</strong> En cada figura, tabla, o resultado que se incluya, se debe de incluir el código que se utilizó para obtenerlo.  <br> Todas las figuras (si las hubiera) deben de estar comentadas o descritas.</div>

#### 1. Del archivo con información de la contaminación de zona metropolitana (“contaminacion_zm.xlsx”), escoja las mediciones de al menos 4 estaciones que miden la calidad del aire (ej: Atemajac, Aguilas, Centro, Oblatos).

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_atemajac = pd.read_excel('../Data/contaminacion_zm.xlsx', sheet_name='Atemajac')

In [3]:
df_atemajac.head()

,Fecha,Hora,CO,NO2,O3,PM10,SO2,Unnamed: 7
0,2015-01-01 00:00:00,2015-01-01 00:00:00,0.603,0.01005,0.01695,43.95,0.00165,NaN
1,2015-01-01 01:00:00,2015-01-01 01:00:00,0.909,0.01510,0.01347,50.04,0.00190,NaN
2,2015-01-01 02:00:00,2015-01-01 02:00:00,1.835,0.02492,0.00273,46.23,0.00252,NaN
3,2015-01-01 03:00:00,2015-01-01 03:00:00,2.208,0.02338,0.00307,57.83,0.00298,NaN
4,2015-01-01 04:00:00,2015-01-01 04:00:00,1.473,0.01925,0.00223,56.66,0.00245,NaN

#### 2. Cada estación mide la cantidad de las siguientes sustancias: “CO”, “NO2”, “O3”, “PM10”, “SO2”, donde la frecuencia de medición es cada hora durante todo el año 2015. Obtener un reporte de la calidad de los datos de al menos una tabla, para determinar la información básica de la base de datos.

#### 3. Con la ayuda del cálculo de las distancias, determine cuales estaciones tienen un comportamiento similar durante todo el año. La comparación será entre contaminantes del mismo tipo, por cada estación, es decir, se requiere comparar el “CO” de todas las estaciones, después se obtiene una nueva distancia entre “NO2” de cada estación y así sucesivamente.

#### 4. Realice una tabla con las medidas de similitud o distancia en cada una de las comparaciones.

#### 5.- Incluya en este apartado el índice de similitud que se haya encontrado (vea el archivo pdf, donde encontará las medidas de similitud más usadas en el análisis de datos ), su fórmula y un pequeño ejemplo de cómo se aplica en una serie de datos de prueba.