<img src="iteso_horizontal.png">

<h1><center>DEPARTAMENTO DE MATEMÁTICAS Y FÍSICA</center></h1>

<h1><center>Tarea 1 : Ejercicios con librería NumPy y Pandas</center></h1>

<h1> Nombre: </h1>
<hr>

Ahora que hemos hecho el repaso de la líbreria de NumPy, es momento de probar los conocimientos adquiridos. 

<div class="alert alert-danger" style="margin: 10px"><strong>NOTA IMPORTANTE!</strong> Asegúrese de no escribir código en las celdas donde se muestra ejemplificada la salida (etiquetada como "no escribir aquí") <br> de lo contrario, terminará reescribiendo la salida esperada.</div>

#### 1. importar NumPy como np

In [1]:
# CÓDIGO AQUÍ
import numpy as np

#### 2. Crear un arreglo de ceros de tamaño 10

In [2]:
# CÓDIGO AQUÍ
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [2]:
# NO ESCRIBIR AQUÍ

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### 3. Crear un arreglo de ceros de tamaño 10

In [3]:
# CÓDIGO AQUÍ
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [3]:
# NO ESCRIBIR AQUÍ

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

#### 4. Crear un arreglo de cincos de tamaño 10

In [4]:
# CÓDIGO AQUÍ
5*np.ones(10)

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [4]:
# NO ESCRIBIR AQUÍ

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

#### 5. Crear un arreglo de enteros que contenga elementos del 10 al 50

In [74]:
# CÓDIGO AQUÍ
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [5]:
# NO ESCRIBIR AQUÍ

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### 6. Crear un arreglo de todos los enteros pares en el intervalo de 10 a 50

In [75]:
# CÓDIGO AQUÍ
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [6]:
# NO ESCRIBIR AQUÍ

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### 7. Crear una matriz de 3x3 con valores en el rango de 0 a 8.

In [5]:
# CÓDIGO AQUÍ
my_matrix=[[0,1,2],
          [3,4,5],
          [6,7,8]]
np.array(my_matrix)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
# NO ESCRIBIR AQUÍ

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### 8. Crear una matriz identidad de 3x3

In [6]:
# CÓDIGO AQUÍ
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [8]:
# NO ESCRIBIR AQUÍ

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### 9. Usa NumPy para generar un número aleatorio entre 0 y 1 <br><br>&emsp;NOTA: Tu resultado puede ser diferente al que se muestra en el resultado de ejemplo.

In [9]:
# CÓDIGO AQUÍ
np.random.rand(1)

array([0.87048524])

In [9]:
# NO ESCRIBIR AQUÍ

array([0.65248055])

#### 10. Usa NumPy para generar un arreglo que contenga 25 números aleatorios muestreados a partir de una distribución normal estándar.<br><br>&emsp;&ensp;NOTA: Los valores de su resultado pueden ser diferentes de los que se muestran en el resultado de ejemplo.

In [10]:
# CÓDIGO AQUÍ
np.random.randn(5,5)

array([[-1.14614659,  0.09544857,  0.54518373, -1.47067369, -0.49613685],
       [-2.55600319,  0.29425819, -1.27190461,  1.79931982,  0.86735282],
       [-1.90767555,  0.4461202 ,  0.00971839, -0.12399757, -0.28960303],
       [ 0.86364178, -0.44530735, -0.2751458 ,  2.01178132,  1.19476411],
       [ 1.04875926,  0.35851765, -1.14726347, -0.52572878, -0.19214588]])

In [10]:
# NO ESCRIBIR AQUÍ

array([ 1.80076712, -1.12375847, -0.98524305,  0.11673573,  1.96346762,
        1.81378592, -0.33790771,  0.85012656,  0.0100703 , -0.91005957,
        0.29064366,  0.69906357,  0.1774377 , -0.61958694, -0.45498611,
       -2.0804685 , -0.06778549,  1.06403819,  0.4311884 , -1.09853837,
        1.11980469, -0.48751963,  1.32517611, -0.61775122, -0.00622865])

#### 11. Crea la matriz que se muestra en la salida de ejemplo:

In [76]:
# CÓDIGO AQUÍ
np.linspace(.01,1,100,11)

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ])

In [11]:
# NO ESCRIBIR AQUÍ

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

#### 12. Crea una matriz de tamaño 20 linealmente espaciada en el intervalo de 0 a 1:

In [77]:
# CÓDIGO AQUÍ
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [12]:
# NO ESCRIBIR AQUÍ

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

## Indexación y Selección en Numpy 

Ahora se le dará una matriz inicial (¡asegúrese de ejecutar la celda a continuación!) Y se le pedirá que replique las salidas de la matriz que se muestra en la salida de ejemplo:

In [11]:
# EJECUTAR ESTA CELDA. ES NUESTRA MATRIZ DE INICIO
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### 13. Escriba código que reproduzca el resultado que se muestra a continuación.<br><br>&emsp;&ensp;Tenga cuidado de no ejecutar la celda inmediatamente arriba de la salida (etiquetada como: "NO ESCRIBIR AQUI"), de lo contrario no podrá ver el resultado de la salida.

In [12]:
# CÓDIGO AQUÍ
arr_2d=np.array([[12,13,14,15],[17,18,19,20],[22,23,24,25]])
arr_2d

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [14]:
# NO ESCRIBIR AQUÍ

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

#### 14. Utilizando el resultado anterior escriba código que reproduzca el resultado que se muestra a continuación.

In [13]:
# CÓDIGO AQUÍ
arr_2d[1,3]

20

In [15]:
# NO ESCRIBIR AQUÍ

20

#### 15. Utilizando el resultado de Out[14] Escriba código que reproduzca el resultado que se muestra a continuación.

In [78]:
# CÓDIGO AQUÍ
mat[:3, 1:2]

array([[ 2],
       [ 7],
       [12]])

In [16]:
# NO ESCRIBIR AQUÍ

array([[ 2],
       [ 7],
       [12]])

#### 16. Utilizando la matriz contenida en la variable mat, escriba código que reproduzca el resultado que se muestra a continuación.

In [28]:
# CÓDIGO AQUÍ
mat[4]

array([21, 22, 23, 24, 25])

In [17]:
# NO ESCRIBIR AQUÍ

array([21, 22, 23, 24, 25])

#### 17. Utilizando la matriz contenida en la variable mat, escriba código que reproduzca el resultado que se muestra a continuación.

In [36]:
# CÓDIGO AQUÍ
mat[3:,:5]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [18]:
# NO ESCRIBIR AQUÍ

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

## Operaciones con NumPy

#### 18. Obtenga la suma de todos los valores en mat

In [41]:
# CÓDIGO AQUÍ
mat.sum()

325

In [19]:
# NO ESCRIBIR AQUÍ

325

#### 19. Obtenga la desviación estándar de todos los valores en mat.

In [79]:
# CÓDIGO AQUÍ
mat.std()

7.211102550927978

In [20]:
# NO ESCRIBIR AQUÍ

7.211102550927978

#### 20. Obtenga la suma de todas las columnas en mat

In [80]:
# CÓDIGO AQUÍ
mat.sum(axis = 0)

array([55, 60, 65, 70, 75])

In [21]:
# NO ESCRIBIR AQUÍ

array([55, 60, 65, 70, 75])

## Operaciones con Pandas

**21. importar la librería de pandas**

In [2]:
# código aquí
import pandas as pd

**22. Lea el archivo bank.csv que se encuentra en la carpeta raíz. ¡Presta mucha atención a la ubicación del archivo .csv!.**

In [4]:
# código aquí
df=pd.read_csv("../DATA/bank.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

**23. Mustre las primero 5 filas del dataset**

In [51]:
# código aquí
df.tail(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

**24. Calcule el promedio de la edad de las personas del dataset**

In [81]:
# código aquí
df['age'].mean()

41.17009511170095

**25. ¿Cuál es el status marital de la persona más joven en el dataset?**

In [89]:
# código aquí
df["marital"].min()

'divorced'

**26. ¿Cuántas categorías de trabajos únicos existen en el dataset?**

In [83]:
# código aquí
df['job'].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

**27. Muestre cuántas personas hay por categoría de trabajo**

In [84]:
# código aquí
df['job'].value_counts()

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

**28. ¿Cuál es el porcentaje de las personas en el dataset que están casadas?**

In [73]:
# código aquí
df["marital"].value_counts(normalize= True)*100

married     61.866844
single      26.454324
divorced    11.678832
Name: marital, dtype: float64

**29. En el dataset existe una columna etiquetada como: "default". Use el comando .map() para crear una nueva columna llamada "default_code" que contenga el valor 0 si el valor de la columna es "no", o 1 si el valor en la columna esta etiquetada como "si". Muestre los 5 primeros valores de esta nueva columna**

In [99]:
# código aquí
def val(x):
    if x=="no":
       y=0
    else:
        y=1
    return y
df["default_code"]=df["default"].map(val)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,marital_code,default_code
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,m,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,m,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,s,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,m,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,m,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no,m,0
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no,m,1
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no,m,0
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no,m,0
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no,s,0

**30. Usando el método pandas .apply (), cree una nueva columna llamada "marital_code". Esta columna solo contendrá un código abreviado de la posible primera letra del estado civil. (Por ejemplo, "m" para "casado", "s" para "soltero", etc.**

In [88]:
# código aquí
def abre(x):
    return x[0]
df["marital_code"]=df["marital"].apply(abre)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,marital_code
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,m
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,m
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,s
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,m
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no,m
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no,m
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no,m
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no,m
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no,s

**31. ¿Cuál fue el trabajp con duración más larga?**

In [85]:
# código aquí
df.groupby('job')['duration'].max()

job
admin.           1713
blue-collar      2456
entrepreneur     2769
housemaid        1558
management       2087
retired          1386
self-employed    1877
services         1971
student          1124
technician       2029
unemployed       3025
unknown           789
Name: duration, dtype: int64

**32. ¿Cuál es el nivel de educación más común para las personas que están desempleadas?**

In [4]:
# código aquí
df[df.job=="unemployed"]["education"].value_counts()

secondary    68
tertiary     32
primary      26
unknown       2
Name: education, dtype: int64

**23. ¿Cuál es la edad promedio para estar desempleado?**

In [86]:
# código aquí
df[df.job == 'unemployed']['age'].mean()

40.90625